 /* Estilos para el hover de la foto */
 #profile-photo-container {
     position: relative;
     width: 300px;
     height: 300px;
     border-radius: 4px;
     background-color: var(--lila);
     transition: box-shadow 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
     cursor: pointer;
     border: 2px solid transparent;
     box-shadow: 0 10px 30px -15px rgba(37, 228, 230, 0.2);
 }

 #profile-photo {
     filter: grayscale(100%) contrast(1) brightness(90%);
     mix-blend-mode: multiply;
     transition: all 0.5s ease;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 4px;
     border: 2px solid transparent;
 }

 #profile-photo-container:hover #profile-photo {
     filter: none;
     mix-blend-mode: normal;
     border-color: var(--lila);
 }

 #profile-photo-container:hover {
     box-shadow: 0 0 0 8px rgba(11, 132, 245, 0.2);
     border-color: var(--lila);
     transform: scale(1.03);
 }

 /* --- Project Card --- */
 .project-card {
     background-color: #2a2e45;
     border-radius: 4px;
     transition: var(--transition);
     min-height: 280px;
     padding: 1.5rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .project-card:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 30px -15px rgba(12, 112, 206, 0.514);
     border-color: var(--lila);
 }

 .project-category {
     font-size: 0.75rem;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     color: var(--lila);
     margin-bottom: 0.5rem;
 }

 .project-title {
     font-size: 1.25rem;
     font-weight: 700;
     color: var(--primary-text-color);
     line-height: 1.2;
     margin-bottom: 0.5rem;
 }

 .project-description {
     font-size: 0.9rem;
     line-height: 1.5;
     color: var(--secondary-text-color);
     margin-bottom: 1rem;
 }

 /* Títulos de sección con subrayado */
 .section-heading {
     position: relative;
     display: inline-flex;
     align-items: center;
     font-size: 2rem;
     font-weight: 800;
     margin-bottom: 4rem;
     color: var(--primary-text-color);
 }

 .section-heading .number {
     color: var(--lila);
     font-size: 1.5rem;
     margin-right: 1rem;
 }

 .section-heading::after {
     content: '';
     display: block;
     position: relative;
     top: 0;
     width: 200px;
     height: 1px;
     margin-left: 20px;
     background-color: #334155;
 }

 /* Estilos para los íconos de redes sociales verticales en el Hero */
 .social-links-vertical,
 .email-vertical {
     display: none;
 }